$teal:                  #3380AA !global;
$brown:                 #B4B1A8 !global;
$blue:                  #40C4D5 !global;
$pink:                  #E34C45 !global;

$text-color:            #333 !global;